@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Frontend of the Coffee Cart Backend!</h1>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-success">Click Here to Login</a>
</div>
